{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Welcome to kTunes  4 {% endblock %}</h2>
    <form method="post">
        Artist: <input name="artist"/>
        <button type="submit">Submit</button>
    </form> 
    <h2>"{{ artist }}"</h2>   
    <table border = 1>
        <thead>
            <td>Artist</td>
            <td>Song</td>
            <td>Genre</td>
            <td>Last Play Dt</td>
            <td>Rating</td>
            <td>Play Cnt</td>
            <td>Category</td>
        </thead>
        
        {% for row in t_tracks %}
           <tr>
              <td>{{row["artist"]}}</td>
              <td>{{row["song"]}}</td>
              <td>{{row["genre"]}}</td>
              <td>{{row["last_play_dt"]}}</td>
              <td>{{row["rating"]}}</td>
              <td>{{row["play_cnt"]}}</td>
              <td>{{row["category"]}}</td>
           </tr>
        {% endfor %}
     </table>
    <hr>
{% endblock %}
