<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <!-- Required CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css">
    <style>
       /*kkrug 11/1/2023 Added to control whitespace between rows of all tables initialized by DataTables */
    .dataTables_wrapper .dataTable tbody tr {
      line-height: .1; /* Adjust as needed */
     }

    </style>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
   <div>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('ktunes.tracks')}}">kTunes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {% if request.path == url_for('ktunes.create_playlist') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('ktunes.create_playlist')}}">Create a Playlist</a>
          </li>
          <li class="nav-item {% if request.path == url_for('ktunes.playlist') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('ktunes.playlist')}}">View a Playlist</a>
          </li>
          <li class="nav-item {% if request.path == url_for('ktunes.del_playlist') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('ktunes.del_playlist')}}">Del Playlists</a>
          </li>
          <li class="nav-item {% if request.path == url_for('ktunes.tracks') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('ktunes.tracks')}}">Library Tracks</a>
          </li>
          <li class="nav-item {% if request.path == url_for('ktunes.settings') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('ktunes.settings')}}">Settings</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container-fluid">
        {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js" integrity="sha512-TY25j37vCUoV+jJlnaX9yxC/W/avf08RE67SqwW76jQQZWXf92tG+1t8/YbWgA9dLQhAq3vq8QsHnGZaSOgZjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
   
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% block scripts %}{% endblock %}
   </div>
  </body>
</html>