<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ktunes.ini Configuration</title>
  </head>
  <body>
    <h1>ktunes.ini Configuration</h1>

    <form method="POST" action="{{ url_for('config_file') }}">
      <fieldset>
        <legend>Miscellaneous Options</legend>
        <label for="playlist_name">Playlist Name:</label>
        <input type="text" name="playlist_name" value="{{ config['misc']['playlist_name'] }}"><br><br>
        <label for="recently_added">Recently Added:</label>
        <label for="recently_added">Recently Added:</label>
        <input type="checkbox" name="recently_added_switch" {% if config['misc']['recently_added_switch'] %}checked{% endif %}><br><br>
        <br><br>
        <label for="weighting_factor">Weighting Factor:</label>
                <input type="number" name="weighting_factor" value="{{ config['misc']['weighting_factor'] }}" min="1" max="100"><br><br>

      </fieldset>
      <br>
      {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endif %}
      <fieldset>
        <legend>Categories</legend>
        <table>
          <tr>
            <th></th>
            <th>Category</th>
            <th>%</th>
            <th>Artist Repeat</th>
          </tr>
          <tr>
            <td>1</td>
            <td><input type="text" name="option1_category" value="{{ config['categories']['option1_category'] }}"></td>
            <td><input type="number" name="option1_category_pct" value="{{ config['categories']['option1_category_pct'] }}" min="1" max="100"></td>
            <td><input type="number" name="option1_category_repeat" value="{{ config['categories']['option1_category_repeat'] }}" min="1"></td>
          </tr>
          <tr>
            <td>2</td>
            <td><input type="text" name="option2_category" value="{{ config['categories']['option2_category'] }}"></td>
            <td><input type="number" name="option2_category_pct" value="{{ config['categories']['option2_category_pct'] }}" min="1" max="100"></td>
            <td><input type="number" name="option2_category_repeat" value="{{ config['categories']['option2_category_repeat'] }}" min="1"></td>
          </tr>
          <tr>
            <td>3</td>
            <td><input type="text" name="option3_category" value="{{ config['categories']['option3_category'] }}"></td>
            <td><input type="number" name="option3_category_pct" value="{{ config['categories']['option3_category_pct'] }}" min="1" max="100"></td>
            <td><input type="number" name="option3_category_repeat" value="{{ config['categories']['option3_category_repeat'] }}" min="1"></td>
          </tr>
          <tr>
            <td>4</td>
            <td><input type="text" name="option4_category" value="{{ config['categories']['option4_category'] }}"></td>
            <td><input type="number" name="option4_category_pct" value="{{ config['categories']['option4_category_pct'] }}" min="1" max="100"></td>
            <td><input type="number" name="option4_category_repeat" value="{{ config['categories']['option4_category_repeat'] }}" min="1"></td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" name="option5_category" value="{{ config['categories']['option5_category'] }}"></td>
            <td><input type="number" name="option5_category_pct" value="{{ config['categories']['option5_category_pct'] }}" min="1" max="100"></td>
            <td><input type="number" name="option5_category_repeat" value="{{ config['categories']['option5_category_repeat'] }}" min="1"></td>
          </tr>
        </table>
      <input type="submit" value="Save">
    </form>
  </body>
</html>
