{% extends 'base.html' %}
{% block content %}
      <form method = "POST">
         <label for="playlist_name: ">Playlist Name</label><input type="text" name="playlist_name" value="{{ playlist_name }}"> </input>
         <br>
         <label for="playlist_length: ">Playlist length in minutes</label><input type="text" name="playlist_length" value="{{ playlist_length }}"> </input>
         <br>
         <br>
         <label for="latest_pct">Latest %:</label><input type="text" name="latest_pct" value="{{ latest_pct }}"> </input>
         <br>
         <label for="in_rot_pct">In Rot %:</label><input type="text" name="in_rot_pct" value="{{ in_rot_pct }}"> </input>
         <br>
         <label for="other_pct">Other %:</label><input type="text" name="other_pct" value="{{ other_pct }}"> </input>
         <br>
         <label for="old_pct">Old %  :</label><input type="text" name="old_pct" value="{{ old_pct }}"> </input>
         <br>
         <label for="album_pct">Album %:</label><input type="text" name="album_pct" value="{{ album_pct }}"> </input>
         <br>
         

         <button type="submit">Submit</button>
      </form>
      <br>
      {{ msg }}
      <br>{{ total_songs }}
      <br>{{ nbr_of_latest_songs }}
      <br>{{ nbr_of_in_rot_songs }}
      <br>{{ nbr_of_other_songs }}
      <br>{{ nbr_of_old_songs }}
      <br>{{ nbr_of_album_songs }}
{% endblock %}
