{% extends "base.html" %}

{% block content %}
<h2>Recently Played Spotify Tracks</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Track Name</th>
            <th>Artist</th>
            <th>Played At</th>
            <th>Playlist</th>
            <th>Last Play Date</th>
        </tr>
    </thead>
    <tbody>
        {% for track in tracks %}
        <tr>
            <td>{{ track.track_name }}</td>
            <td>{{ track.artist }}</td>
            <td>{{ track.played_at }}</td>
            <td>{{ track.playlist }}</td>
            <td>{{ track.last_play_dt if track.last_play_dt else 'N/A' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
